In [5]:
import pandas as pd
import numpy as np
import scanpy as sc

In [3]:
adata = sc.read_10x_h5("../Data/square_008um/filtered_feature_bc_matrix.h5")
adata.var_names_make_unique()
umi_counts = adata.to_df()
umi_counts

/Users/siyuanzhao/anaconda3/envs/VDS/lib/python3.10/site-packages/anndata/_core/anndata.py:1820: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/siyuanzhao/anaconda3/envs/VDS/lib/python3.10/site-packages/anndata/_core/anndata.py:1820: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

,SAMD11,NOC2L,KLHL17,PLEKHN1,PERM1,HES4,ISG15,AGRN,RNF223,C1orf159,...,MT-ND2,MT-CO2,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
s_008um_00301_00321-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0
s_008um_00602_00290-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
s_008um_00515_00112-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
s_008um_00526_00291-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
s_008um_00681_00396-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s_008um_00653_00166-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s_008um_00353_00477-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
s_008um_00797_00672-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s_008um_00565_00244-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s_008um_00373_00222-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0

In [10]:
position_df = pd.read_parquet("../Data/square_008um/spatial/tissue_positions.parquet")

position_df_filtered = position_df[position_df["in_tissue"] == 1]
position_df_filtered

,barcode,in_tissue,array_row,array_col,pxl_row_in_fullres,pxl_col_in_fullres
84,s_008um_00000_00084-1,1,0,84,22523.149954,23731.894766
92,s_008um_00000_00092-1,1,0,92,22524.853465,23604.194462
93,s_008um_00000_00093-1,1,0,93,22525.066404,23588.231925
94,s_008um_00000_00094-1,1,0,94,22525.279342,23572.269389
108,s_008um_00000_00108-1,1,0,108,22528.260486,23348.793906
...,...,...,...,...,...,...
701771,s_008um_00837_00365-1,1,837,365,35943.424255,19424.933765
702058,s_008um_00837_00652-1,1,837,652,36004.505318,14843.712157
702059,s_008um_00837_00653-1,1,837,653,36004.718144,14827.749751
702178,s_008um_00837_00772-1,1,837,772,36030.044352,12928.225316
702179,s_008um_00837_00773-1,1,837,773,36030.257177,12912.262941

In [11]:
kmeans_8_df = pd.read_csv("../Data/square_008um/analysis/clustering/gene_expression_kmeans_8_clusters/clusters.csv")

merged_df = pd.merge(position_df_filtered, kmeans_8_df, left_on="barcode", right_on="Barcode")
merged_df

,barcode,in_tissue,array_row,array_col,pxl_row_in_fullres,pxl_col_in_fullres,Barcode,Cluster
0,s_008um_00000_00084-1,1,0,84,22523.149954,23731.894766,s_008um_00000_00084-1,1
1,s_008um_00000_00092-1,1,0,92,22524.853465,23604.194462,s_008um_00000_00092-1,1
2,s_008um_00000_00093-1,1,0,93,22525.066404,23588.231925,s_008um_00000_00093-1,1
3,s_008um_00000_00094-1,1,0,94,22525.279342,23572.269389,s_008um_00000_00094-1,1
4,s_008um_00000_00108-1,1,0,108,22528.260486,23348.793906,s_008um_00000_00108-1,1
...,...,...,...,...,...,...,...,...
301022,s_008um_00837_00362-1,1,837,362,35942.785775,19472.821215,s_008um_00837_00362-1,1
301023,s_008um_00837_00363-1,1,837,363,35942.998602,19456.858731,s_008um_00837_00363-1,1
301024,s_008um_00837_00364-1,1,837,364,35943.211428,19440.896248,s_008um_00837_00364-1,1
301025,s_008um_00837_00365-1,1,837,365,35943.424255,19424.933765,s_008um_00837_00365-1,1
301026,s_008um_00837_00652-1,1,837,652,36004.505318,14843.712157,s_008um_00837_00652-1,1

In [4]:
scale_df = pd.read_json("../Data/square_008um/spatial/scalefactors_json.json", typ="series")
scale_df.tissue_hires_scalef

0.10757315

In [14]:
merged_df = merged_df.drop(columns=["in_tissue", "array_row", "array_col", "Barcode"])
merged_df = merged_df.rename(columns={"pxl_row_in_fullres": "y", "pxl_col_in_fullres": "x", "Cluster": "cluster"})
merged_df["pxl_row_in_fullres"] = merged_df["pxl_row_in_fullres"] * scale_df.tissue_hires_scalef

                      barcode             x             y  cluster
0       s_008um_00000_00084-1  22523.149954  23731.894766        1
1       s_008um_00000_00092-1  22524.853465  23604.194462        1
2       s_008um_00000_00093-1  22525.066404  23588.231925        1
3       s_008um_00000_00094-1  22525.279342  23572.269389        1
4       s_008um_00000_00108-1  22528.260486  23348.793906        1
...                       ...           ...           ...      ...
301022  s_008um_00837_00362-1  35942.785775  19472.821215        1
301023  s_008um_00837_00363-1  35942.998602  19456.858731        1
301024  s_008um_00837_00364-1  35943.211428  19440.896248        1
301025  s_008um_00837_00365-1  35943.424255  19424.933765        1
301026  s_008um_00837_00652-1  36004.505318  14843.712157        1

[301027 rows x 4 columns]

In [7]:
UMAP_df = pd.read_csv("../Data/square_008um/analysis/umap/gene_expression_2_components/projection.csv")
UMAP_df

                      Barcode     UMAP-1    UMAP-2
0       s_008um_00301_00321-1  12.930465  0.044859
1       s_008um_00602_00290-1  -3.924192 -0.384145
2       s_008um_00515_00112-1   0.935489 -2.719900
3       s_008um_00526_00291-1  -0.169502 -1.551245
4       s_008um_00681_00396-1  -0.139045  2.212159
...                       ...        ...       ...
301022  s_008um_00653_00166-1  -2.089752  0.505184
301023  s_008um_00353_00477-1   2.266677  1.053210
301024  s_008um_00797_00672-1  -9.304140 -1.438754
301025  s_008um_00565_00244-1   0.083949 -1.149712
301026  s_008um_00373_00222-1   0.080916 -1.957713

[301027 rows x 3 columns]

In [14]:
umap_kmeans_df = pd.merge(UMAP_df, kmeans_8_df, left_on="Barcode", right_on="Barcode")
umap_kmeans_df

                      Barcode     UMAP-1    UMAP-2  Cluster
0       s_008um_00301_00321-1  12.930465  0.044859        3
1       s_008um_00602_00290-1  -3.924192 -0.384145        1
2       s_008um_00515_00112-1   0.935489 -2.719900        2
3       s_008um_00526_00291-1  -0.169502 -1.551245        2
4       s_008um_00681_00396-1  -0.139045  2.212159        2
...                       ...        ...       ...      ...
301022  s_008um_00653_00166-1  -2.089752  0.505184        2
301023  s_008um_00353_00477-1   2.266677  1.053210        2
301024  s_008um_00797_00672-1  -9.304140 -1.438754        1
301025  s_008um_00565_00244-1   0.083949 -1.149712        2
301026  s_008um_00373_00222-1   0.080916 -1.957713        2

[301027 rows x 4 columns]

In [11]:
diffexp = pd.read_csv("../Data/square_008um/analysis/diffexp/gene_expression_kmeans_10_clusters/differential_expression.csv")
diffexp

,Feature ID,Feature Name,Cluster 1 Mean Counts,Cluster 1 Log2 fold change,Cluster 1 Adjusted p value,Cluster 2 Mean Counts,Cluster 2 Log2 fold change,Cluster 2 Adjusted p value,Cluster 3 Mean Counts,Cluster 3 Log2 fold change,...,Cluster 7 Adjusted p value,Cluster 8 Mean Counts,Cluster 8 Log2 fold change,Cluster 8 Adjusted p value,Cluster 9 Mean Counts,Cluster 9 Log2 fold change,Cluster 9 Adjusted p value,Cluster 10 Mean Counts,Cluster 10 Log2 fold change,Cluster 10 Adjusted p value
0,ENSG00000187634,SAMD11,0.000020,0.212466,1.000000e+00,0.000000,1.476438,1.000000,0.000000,-2.636948,...,9.082889e-03,0.000000,2.495002,1.000000,0,15.157047,1.0,0.0,15.239510,1.0
1,ENSG00000188976,NOC2L,0.002411,-0.460884,1.320938e-02,0.002784,-0.151593,1.000000,0.003158,0.003069,...,1.200000e-15,0.001428,-1.026235,0.839569,0,8.044463,1.0,0.0,8.126925,1.0
2,ENSG00000187961,KLHL17,0.000542,0.319655,2.699504e-01,0.000259,-0.515525,0.990789,0.000360,-0.432495,...,2.745425e-01,0.000519,0.503039,1.000000,0,10.827127,1.0,0.0,10.909589,1.0
3,ENSG00000187583,PLEKHN1,0.000217,-4.345035,0.000000e+00,0.000906,-1.964416,0.027732,0.005255,0.713685,...,2.141693e-01,0.000390,-2.858145,0.047777,0,7.802431,1.0,0.0,7.884893,1.0
4,ENSG00000187642,PERM1,0.000007,0.119356,1.000000e+00,0.000065,3.646363,0.569411,0.000010,0.310585,...,1.000000e+00,0.000000,3.495002,1.000000,0,16.157047,1.0,0.0,16.239510,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17783,ENSG00000212907,MT-ND4L,0.110153,1.069963,5.000000e-16,0.101315,0.697645,0.307977,0.026466,-1.521219,...,0.000000e+00,0.133237,1.091571,0.163101,0,3.719440,1.0,0.0,3.801902,1.0
17784,ENSG00000198886,MT-ND4,0.082927,0.837351,6.581226e-10,0.069917,0.403255,0.713044,0.026352,-1.246564,...,0.000000e+00,0.099733,0.919555,0.237666,0,3.968150,1.0,0.0,4.050612,1.0
17785,ENSG00000198786,MT-ND5,0.018564,0.957051,4.368100e-12,0.016379,0.560739,0.453888,0.004924,-1.446662,...,0.000000e+00,0.029608,1.425646,0.018365,0,6.210953,1.0,0.0,6.293416,1.0
17786,ENSG00000198695,MT-ND6,0.028967,0.861559,4.191980e-10,0.031786,0.814090,0.161125,0.007894,-1.478131,...,0.000000e+00,0.034024,0.905678,0.271931,0,5.502511,1.0,0.0,5.584973,1.0
17787,ENSG00000198727,MT-CYB,0.070295,0.929981,4.336800e-12,0.060724,0.506234,0.569411,0.017930,-1.531873,...,0.000000e+00,0.089084,1.063045,0.130087,0,4.271563,1.0,0.0,4.354025,1.0

In [21]:
log2fc_threshold = 0  # Log2 fold change threshold
pval_threshold = 0.05 # p value threshold

cluster_columns = [col for col in diffexp.columns if "Cluster" in col]
results = {}

# cluster numbers
for cluster in range(1, 11):
    log2fc_col = f"Cluster {cluster} Log2 fold change"
    pval_col = f"Cluster {cluster} Adjusted p value"

    if all(col in diffexp.columns for col in [log2fc_col, pval_col]):
        # filter
        # filtered_genes = diffexp[
        #     (diffexp[log2fc_col] >= log2fc_threshold) &
        #     (diffexp[pval_col] <= pval_threshold) &
        #     (diffexp[mean_col] > 1)  # This line ensures high mean counts
        # ][["Feature ID", "Feature Name", mean_col, log2fc_col, pval_col]]

        filtered_genes = diffexp[
            (diffexp[log2fc_col] > log2fc_threshold) &
            (diffexp[pval_col] < pval_threshold)
        ][["Feature ID", "Feature Name", log2fc_col, pval_col]]

        # sorted by log2 fold change
        filtered_genes = filtered_genes.sort_values(by=[log2fc_col, pval_col], ascending=False)

        results[f"Cluster {cluster}"] = filtered_genes

# Checking the top 10 genes for each cluster
for cluster, genes in results.items():
    print(f"{cluster}")
    top_genes = genes.head(10)

    log2fc_col = f"{cluster} Log2 fold change"
    pval_col = f"{cluster} Adjusted p value"

    for _, row in top_genes.iterrows():
        # print(row['Feature Name'])
        print(f"Feature Name: {row['Feature Name']}, Log2 Fold Change: {row[log2fc_col]}, Adjusted p value: {row[pval_col]}")

Cluster 1
Feature Name: CHIT1, Log2 Fold Change: 5.119356288731138, Adjusted p value: 3.37707043608e-05
Feature Name: HS3ST2, Log2 Fold Change: 5.101208942020879, Adjusted p value: 0.0
Feature Name: TMEM121B, Log2 Fold Change: 4.926711210788742, Adjusted p value: 0.0001611653916914
Feature Name: TNFRSF17, Log2 Fold Change: 4.92671121078874, Adjusted p value: 7.5967e-12
Feature Name: KEL, Log2 Fold Change: 4.819796006872231, Adjusted p value: 1.334376021e-07
Feature Name: WNT2, Log2 Fold Change: 4.766741289986111, Adjusted p value: 0.0
Feature Name: PNOC, Log2 Fold Change: 4.704318789452294, Adjusted p value: 0.0007593763652467
Feature Name: ZBTB32, Log2 Fold Change: 4.704318789452294, Adjusted p value: 0.0007593763652467
Feature Name: TCEAL5, Log2 Fold Change: 4.704318789452294, Adjusted p value: 0.0007593763652467
Feature Name: COL11A1, Log2 Fold Change: 4.480139195337426, Adjusted p value: 0.0
Cluster 2
Feature Name: AC138647.1, Log2 Fold Change: 7.231325279481652, Adjusted p value: 0.0340995272726239
Feature Name: OR4Q3, Log2 Fold Change: 7.231325279481652, Adjusted p value: 0.0307684251491775
Feature Name: ODAM, Log2 Fold Change: 7.231325279481652, Adjusted p value: 0.0140753836984899
Feature Name: TAAR5, Log2 Fold Change: 7.231325279481652, Adjusted p value: 0.0140753836984899
Feature Name: GSX2, Log2 Fold Change: 6.646362778760496, Adjusted p value: 0.0149437321575021
Feature Name: UGT1A3, Log2 Fold Change: 6.231325279481652, Adjusted p value: 0.0483214283115538
Feature Name: ANKRD66, Log2 Fold Change: 6.231325279481652, Adjusted p value: 0.043806879363906
Feature Name: CPA1, Log2 Fold Change: 6.231325279481652, Adjusted p value: 0.0372743794160265
Feature Name: H3.Y, Log2 Fold Change: 6.231325279481652, Adjusted p value: 0.0319348440465891
Feature Name: TEX55, Log2 Fold Change: 6.061400278039342, Adjusted p value: 0.0320472477854731
Cluster 3
Feature Name: RAET1L, Log2 Fold Change: 4.70290231528605, Adjusted p value: 6.66032868964e-05
Feature Name: FOXN1, Log2 Fold Change: 3.541151245289436, Adjusted p value: 0.0
Feature Name: SHH, Log2 Fold Change: 3.5329773138437375, Adjusted p value: 0.0341306557034722
Feature Name: KRT3, Log2 Fold Change: 3.5329773138437375, Adjusted p value: 0.0341306557034722
Feature Name: ADGRL3, Log2 Fold Change: 3.340332235901341, Adjusted p value: 0.0039499725733761
Feature Name: CDH20, Log2 Fold Change: 3.340332235901341, Adjusted p value: 0.0039499725733761
Feature Name: B4GALNT3, Log2 Fold Change: 3.1179398145648936, Adjusted p value: 1.03073496e-08
Feature Name: OTOP3, Log2 Fold Change: 3.1179398145648936, Adjusted p value: 1.03073496e-08
Feature Name: EPGN, Log2 Fold Change: 3.098551526171354, Adjusted p value: 0.0
Feature Name: KRT75, Log2 Fold Change: 2.9480148131225814, Adjusted p value: 1.707816e-09
Cluster 4
Feature Name: KREMEN2, Log2 Fold Change: 5.484090207023286, Adjusted p value: 0.0
Feature Name: ATP6V1B1, Log2 Fold Change: 4.910098824123134, Adjusted p value: 7.8239692638e-06
Feature Name: HS3ST4, Log2 Fold Change: 4.538130046736175, Adjusted p value: 6.23786113e-08
Feature Name: GRIA2, Log2 Fold Change: 4.49506132484429, Adjusted p value: 0.0
Feature Name: LMO1, Log2 Fold Change: 4.450667205485836, Adjusted p value: 0.0
Feature Name: IRX4, Log2 Fold Change: 4.4155634045299195, Adjusted p value: 0.0
Feature Name: LAMB4, Log2 Fold Change: 4.411827463622476, Adjusted p value: 0.0
Feature Name: COL17A1, Log2 Fold Change: 4.35284059289029, Adjusted p value: 0.0
Feature Name: CLDN3, Log2 Fold Change: 4.308648200613408, Adjusted p value: 4.475e-12
Feature Name: GLDC, Log2 Fold Change: 4.287168473202957, Adjusted p value: 0.0
Cluster 5
Feature Name: KIF19, Log2 Fold Change: 8.075484698797148, Adjusted p value: 0.0
Feature Name: LCN6, Log2 Fold Change: 6.872392833419635, Adjusted p value: 0.0
Feature Name: ACKR1, Log2 Fold Change: 6.106378706742931, Adjusted p value: 0.0
Feature Name: MYMX, Log2 Fold Change: 6.0899842684922625, Adjusted p value: 0.0
Feature Name: GPR142, Log2 Fold Change: 5.838445501496299, Adjusted p value: 0.0
Feature Name: DIPK2B, Log2 Fold Change: 5.6341548865351605, Adjusted p value: 0.0
Feature Name: LHX6, Log2 Fold Change: 5.62432069614345, Adjusted p value: 0.0
Feature Name: ARHGEF15, Log2 Fold Change: 5.573119284154514, Adjusted p value: 0.0
Feature Name: SOX17, Log2 Fold Change: 5.561605296137474, Adjusted p value: 0.0
Feature Name: APLNR, Log2 Fold Change: 5.5397497128466515, Adjusted p value: 0.0
Cluster 6
Feature Name: FETUB, Log2 Fold Change: 4.7505415354807266, Adjusted p value: 0.0
Feature Name: PSAPL1, Log2 Fold Change: 4.671931700784361, Adjusted p value: 7e-16
Feature Name: CEACAM5, Log2 Fold Change: 4.633896616628456, Adjusted p value: 0.0
Feature Name: C5orf47, Log2 Fold Change: 4.613038011730792, Adjusted p value: 0.019796744556748
Feature Name: CALY, Log2 Fold Change: 4.613038011730792, Adjusted p value: 0.019796744556748
Feature Name: AL121578.2, Log2 Fold Change: 4.613038011730792, Adjusted p value: 0.019796744556748
Feature Name: SLC5A1, Log2 Fold Change: 4.576379541151942, Adjusted p value: 0.0
Feature Name: GDF7, Log2 Fold Change: 4.456918809813509, Adjusted p value: 0.0
Feature Name: ARHGAP40, Log2 Fold Change: 4.4481839998359005, Adjusted p value: 0.0
Feature Name: ACER1, Log2 Fold Change: 4.440201414868575, Adjusted p value: 0.0
Cluster 7
Feature Name: LCE1A, Log2 Fold Change: 8.800506566197846, Adjusted p value: 0.0
Feature Name: LCE2C, Log2 Fold Change: 8.462725387458532, Adjusted p value: 0.0
Feature Name: LCE1C, Log2 Fold Change: 8.353846590744677, Adjusted p value: 0.0
Feature Name: LCE2D, Log2 Fold Change: 8.243164556905246, Adjusted p value: 0.0
Feature Name: KPRP, Log2 Fold Change: 8.189899243624927, Adjusted p value: 0.0
Feature Name: C1orf68, Log2 Fold Change: 8.082228338690186, Adjusted p value: 0.0
Feature Name: LCE3A, Log2 Fold Change: 8.025659313342562, Adjusted p value: 0.0
Feature Name: LCE1B, Log2 Fold Change: 7.958596989521808, Adjusted p value: 0.0
Feature Name: LCE3E, Log2 Fold Change: 7.8654470878590415, Adjusted p value: 0.0
Feature Name: RNASE7, Log2 Fold Change: 7.768880774881653, Adjusted p value: 0.0
Cluster 8
Feature Name: ACTC1, Log2 Fold Change: 10.66072672871763, Adjusted p value: 0.0
Feature Name: KCNA5, Log2 Fold Change: 9.249889217968072, Adjusted p value: 0.0
Feature Name: CASQ2, Log2 Fold Change: 8.370183451685786, Adjusted p value: 0.0
Feature Name: NTRK3, Log2 Fold Change: 8.355822662717138, Adjusted p value: 0.0
Feature Name: ADAMTS8, Log2 Fold Change: 8.352982710932178, Adjusted p value: 0.0
Feature Name: RERGL, Log2 Fold Change: 8.249889217968073, Adjusted p value: 0.0
Feature Name: ITIH3, Log2 Fold Change: 8.165000320381559, Adjusted p value: 0.0
Feature Name: CRLF1, Log2 Fold Change: 7.9523163934298, Adjusted p value: 0.0
Feature Name: ASB16, Log2 Fold Change: 7.834851718689229, Adjusted p value: 2.18087e-11
Feature Name: JPH2, Log2 Fold Change: 7.834851718689229, Adjusted p value: 0.0
Cluster 9
Feature Name: DEFA5, Log2 Fold Change: 18.74200994665227, Adjusted p value: 0.0089973655935364
Feature Name: ANHX, Log2 Fold Change: 18.326972447373425, Adjusted p value: 0.0089973655935364
Feature Name: SPATA9, Log2 Fold Change: 17.157047445931113, Adjusted p value: 0.0134501110125288
Cluster 10
Feature Name: OR52D1, Log2 Fold Change: 18.087506634549936, Adjusted p value: 0.0143027429035308
Feature Name: LRP2, Log2 Fold Change: 16.602079807379695, Adjusted p value: 0.019872762228229
Feature Name: RXFP1, Log2 Fold Change: 15.82447222871614, Adjusted p value: 0.0236707051046007
Feature Name: PRIMA1, Log2 Fold Change: 14.161507215993712, Adjusted p value: 0.0463215492084153