In [1]:
import pandas as pd
import numpy as np
import scanpy as sc

In [2]:
adata = sc.read_10x_h5("../Data/square_008um/filtered_feature_bc_matrix.h5")
adata.var_names_make_unique()
umi_counts = adata.to_df()
umi_counts

/Users/siyuanzhao/anaconda3/envs/VDS/lib/python3.10/site-packages/anndata/_core/anndata.py:1820: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/siyuanzhao/anaconda3/envs/VDS/lib/python3.10/site-packages/anndata/_core/anndata.py:1820: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

,SAMD11,NOC2L,KLHL17,PLEKHN1,PERM1,HES4,ISG15,AGRN,RNF223,C1orf159,...,MT-ND2,MT-CO2,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
s_008um_00301_00321-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0
s_008um_00602_00290-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
s_008um_00515_00112-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
s_008um_00526_00291-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
s_008um_00681_00396-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s_008um_00653_00166-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s_008um_00353_00477-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
s_008um_00797_00672-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s_008um_00565_00244-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s_008um_00373_00222-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0

In [15]:
position_df = pd.read_parquet("../Data/square_008um/spatial/tissue_positions.parquet")

position_df_filtered = position_df[position_df["in_tissue"] == 1]
position_df_filtered

,barcode,in_tissue,array_row,array_col,pxl_row_in_fullres,pxl_col_in_fullres
84,s_008um_00000_00084-1,1,0,84,22523.149954,23731.894766
92,s_008um_00000_00092-1,1,0,92,22524.853465,23604.194462
93,s_008um_00000_00093-1,1,0,93,22525.066404,23588.231925
94,s_008um_00000_00094-1,1,0,94,22525.279342,23572.269389
108,s_008um_00000_00108-1,1,0,108,22528.260486,23348.793906
...,...,...,...,...,...,...
701771,s_008um_00837_00365-1,1,837,365,35943.424255,19424.933765
702058,s_008um_00837_00652-1,1,837,652,36004.505318,14843.712157
702059,s_008um_00837_00653-1,1,837,653,36004.718144,14827.749751
702178,s_008um_00837_00772-1,1,837,772,36030.044352,12928.225316
702179,s_008um_00837_00773-1,1,837,773,36030.257177,12912.262941